@use "../variables" as v;
@use "sass:color";

.hero {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  text-transform: uppercase;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; // asegura que no haya espacio debajo de la imagen
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.article {
  max-width: 1800px;
  margin: 0 auto;
  padding: 8px 1rem;
  text-align: left;

  :is(h1, p) {
    color: #111;
    text-align: center;
  }

  &__title {
    font-size: 2.2rem;
    font-family: "Henny Penny", system-ui;
  }

  &__paragraph {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  &__image {
    display: block;
    max-width: 100%;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  }

  &__quote {
    font-style: italic;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-left: 5px solid #f39c12;
    background-color: #fdf6e3;
  }

  &__list {
    counter-reset: item;
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;

    :where(.article__list-item) {
      font-size: 1.6rem;
    }

    &-item {
      counter-increment: item;
      margin-bottom: 0.5rem;
      position: relative;
      padding-left: 3rem;

      &::before {
        content: counter(item);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        border-radius: 50%;
        background-color: v.$primary-color;
        color: #fff;
        font-weight: bold;
      }
    }
  }

  &__content:has(.article__quote) {
    padding: 1rem;

    /* border-radius: 10px;

   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05); */
  }
}
