@use "../variables" as v;
@use "sass:color";

.form {
  max-width: 600px;
  margin: 2rem auto;

  padding: 78px 2rem 2rem 2rem; // Arriba, derecha, abajo, izquierda
  background-color: #fff;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #111;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #111;
  }

  &__input,
  &__textarea {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 2rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: v.$primary-color;
      box-shadow: 0 0 0 3px rgba(123, 185, 7, 0.2);
      outline: none;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 120px;
  }

  &__button {
    padding: 0.75rem 1.5rem;
    background-color: v.$primary-color;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: v.$dark;
    }

    &:active {
      transform: scale(0.98);
    }
  }
  &__success {
    display: none;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Henny Penny", system-ui;
    color: green;
    text-align: center;
  }
}
