.footer {
  font-size: 1.5rem;
  line-height: 1.6;

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__text,
  &__copyright {
    font-size: 1.4rem;
  }

  &__link {
    font-size: 1.4rem; // enlaces un poco más grandes
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__list > .footer__item {
    margin-bottom: 0.5rem;
  }
}

/*   CONTAINER QUERY AÑADIDO      */

.footer__container {
  container-type: inline-size;
  container-name: footer;
}
/* 0–400px → 1 columna */
@container footer (max-width: 300px) {
  .footer__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;
  }
}

/* 401–700px → 2 columnas */
@container footer (min-width: 301px) and (max-width: 700px) {
  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .footer__col--info {
    grid-column: span 2; // para que este arriba en toda la fila
  }
}
