@use "../variables" as v;
@use "sass:color";

.header-nav {
  &__logo {
    width: 58px;
    height: 58px;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: logo-spin 1s ease-out forwards;
  }

  &__toggle {
    outline: none !important;
    box-shadow: none !important;

    &:focus,
    &:active,
    &.focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &__toggle-icon {
    background-image: url("../images/chilimenu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
  }
  &__dropdown.dropdown-menu {
    font-size: 1.8rem;
  }

  &__title {
    position: relative;
    font-family: "Henny Penny", system-ui;
    font-size: 2.5rem;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      background-image: url("../images/topimg.png");
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }

  &__close {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  &__offcanvas-body {
    // Desktop layout
    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .navbar-nav {
        margin-bottom: 0;
      }
    }

    form {
      input.form-control {
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
      }

      button.btn {
        font-size: 1.8rem;
        padding: 0.5rem 1.5rem;
      }
    }
  }

  &__menu {
    .nav-link {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}

@keyframes logo-spin {
  0% {
    transform: rotateY(90deg); // empieza de lado (derecha)
  }
  100% {
    transform: rotateY(0deg); // termina mirando hacia ti
  }
}
/* ------------------------------
   SOCIAL LINKS
--------------------------------*/
.header-nav {
  &__social {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    align-items: center;
    @media (min-width: 992px) {
      display: none;
    }
  }

  &__social-link {
    font-size: 2.4rem;
    color: #000;
    transition: color 0.3s ease;

    &:hover {
      color: #ccc;
    }
  }
}
