@use "../variables" as v;
@use "sass:color";

/* Flexbox para las cards */
.participants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 100px;
  max-width: 1200px; /* ancho máximo para que no se estiren demasiado */
  margin: 0 auto;

  /* Declaro como contenedor para container queries */
  container-type: inline-size;
}

.participant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(50% - 2rem); /* POR DEFECTO: 2 columnas en móviles */
  max-width: 350px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.participant-card img {
  width: 167px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.participant-card h3 {
  margin: 0.5rem 0;
  font-size: 2.7rem;
  text-align: center;
}

.participant-card p {
  font-size: 2rem;
  text-align: center;
  color: #555;
}

.participant-card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Container queries: 3 columnas en contenedores grandes */
@container (min-width: 870px) {
  .participant-card {
    flex: 1 1 calc(33.333% - 2rem); /* 3 columnas */
  }
}

.btn--custom {
  display: block; // para que el margin auto funcione
  margin: 3rem auto 0;
  background-color: v.$primary-color;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  transition: background 0.3s ease;

  &:hover {
    background-color: v.$dark;
    color: #fff;
  }
}

.participant-card.extra {
  display: none;
}
