<footer class="footer bg-dark text-white py-4 mt-5">
  <div class="footer__container container-fluid">
    <div class="footer__row row">
      <!-- Columna 1: información -->
      <div class="footer__col footer__col--info col-md-4 mb-3">
        <h5 class="footer__title">Picantino Festival</h5>
        <p class="footer__text">
          Festival de gastronomía local. <br />
          Spice up your life!
        </p>
      </div>

      <!-- Columna 2: enlaces -->
      <div class="footer__col footer__col--links col-md-4 mb-3">
        <h5 class="footer__title">Enlaces</h5>
        <ul class="footer__list list-unstyled">
          <li class="footer__item">
            <a
              href="./index.html"
              class="footer__link text-white text-decoration-none"
              >Inicio</a
            >
          </li>
          <li class="footer__item">
            <a
              href="./participants.html"
              class="footer__link text-white text-decoration-none"
              >Participantes</a
            >
          </li>
          <li class="footer__item">
            <a
              href="./agenda.html"
              class="footer__link text-white text-decoration-none"
              >Agenda</a
            >
          </li>
          <li class="footer__item">
            <a
              href="./contacto.html"
              class="footer__link text-white text-decoration-none"
              >Contacto</a
            >
          </li>
        </ul>
      </div>

      <!-- Columna 3: contacto -->
      <div class="footer__col footer__col--contact col-md-4 mb-3">
        <h5 class="footer__title">Contacto</h5>
        <p class="footer__text">Email: info@picantino.com</p>
        <p class="footer__text">Tel: +34 123 456 789</p>
      </div>
    </div>

    <div class="footer__copyright text-center mt-3">
      <small
        >&copy; 2025 Picantino Festival. Todos los derechos reservados.
        2025</small
      >
    </div>
  </div>
</footer>
