@import "variables";

/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

@import "bootstrap/scss/bootstrap";

// @import "some-node-module";
// @import "@some-company/some-node-module";

@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
