@use "sass:color";

$text-color: #fff;
$primary-color: rgb(7 151 79);
$accent: red;
$dark: #212529;
$overlay-dark: rgb(0 0 0 / 55%);
$overlay-light: rgb(245 244 244 / 55%);

// Sobreescribiendo la valores de bootstrap,
$theme-colors: (
  "primary": $primary-color,
  "dark": $dark,
  "white": $text-color,
);
