/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import dependencies
 */

@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@use "layouts/home";
@use "layouts/navbar";
@use "layouts/footer";
@use "layouts/participants";
@use "layouts/agenda";
@use "layouts/contacto";
@use "globals";

/**
 * Do NOT include anything else in this file!
 */
